.sy-code-annotated-wrapper{
  overflow-x: auto
  margin: 1rem 0
}


.sy-code-annotated{
  display: flex
  min-width: 800px  // 可根据需要调整
  gap: 2rem
  align-items: flex-start
}


.sy-code-part{
  flex: 1
  min-width: 0
  background: #f8f8f8
  border: 1px solid #ccc
  border-radius: 5px
  padding: 0.5rem
  overflow-x: auto
}

.sy-comment-part{
  flex: 1
  min-width: 0
  font-size: 0.95rem
  color: #555
}
